<div class="user-info-container">
    <div class="img-user">
       <img src="../../../../../assets/images/149071.png" alt="" class="rounded img-fix">
    </div>

    <div class="user-info">
        <div class="title">
            {{user.last_name}}, {{user.first_name}}
        </div>
        <div class="role">
            {{user.role}}
        </div>
        <div class="additioal-info">
            <span>{{user.phone}}</span> <br>
            <span>{{user.email}}</span>
        </div>
    </div>
</div>
